@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

* {
  font-family: "Inter", sans-serif;
}

@theme {
  --color-purple: rgba(100, 13, 249, 1);
  --color-darkPink: rgba(235, 8, 141, 1);
  --color-pink: rgba(205, 12, 167, 1);
  --color-customBlue: rgba(63 2 203);
  --color-offWhite: rgba(245, 246, 250, 1);
  --color-lightPurple: rgba(229, 222, 250);
  --color-lightBlue: rgba(79, 2, 254, 0.08);
  --color-gray: rgba(101 53 213);
}

select {
  background-image: url("/assets/svg/drop-down.svg");
  background-repeat: no-repeat;
  background-size: 12px 6px !important;
  background-position-x: 80%;
  background-position-y: 50%;
}